<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="50%"
  fxFlex.xs="100%"
  fxFlex.sm="100%">
 
    <img class="img-style"
      src="{{ movie?.image }}"
      alt="{{ movie?.title }}"
    />
  
  </div>
  <div fxFlex="50%">
    <div class="movie-title">{{ movie?.title }}</div>
    <div class="movie-length">{{ movie?.runtime }}</div>
    <div class="movie-rating">
      <mat-icon aria-hidden="false">star</mat-icon> {{ movie?.rating }}
    </div>
    <div class="movie-synopsis" [appEncodeInnerHtml]="movie.synopsis"></div>
  </div>
</div>
