<div class="footer">
  <img class="next-favicon" src="assets/favicon.svg" />
  <div class="contact-info">Contac us</div>
  <div class="support-info">
    <p>support@nextmovies.com</p>
    <p>Mon – Fri | 6:00am – 5:00 pm PT</p>
  </div>
  <div class="mass-media">
    <img src="assets/facebook-share-icon.svg" />
    <img src="assets/linkedin-share-icon.svg" />
    <img src="assets/twitter-share-icon.svg" />
    <img src="assets/instagram-share-icon.svg" />
    <img src="assets/youtube-share-icon.svg" />
  </div>
</div>
