.footer {
  display: flex;
  flex-direction: column;
}

.next-favicon {
  margin-top: 45px;
  margin-bottom: 21px;
  height: 40px;
}

.contact-info {
  text-align: center;
  font: normal normal normal 33px/37px Georgia;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 13px;
}

.support-info {
  text-align: center;
  font: normal normal normal 16px/21px Georgia;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 40px;
}

.mass-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
