.logo {
    height: auto;
    margin-left: 13%;
    margin-top: 0.25%;
}

.toolbar {
    background-color: white;
    // width: 37vw;
    // display: flex;;
    // justify-content: space-between;
   
}

.search-input {
    align-self: flex-end;
}

@media screen and (max-width: 600px) {
    .search-input {
        align-self: center;
    }

    .logo {
        height: auto;
        height: 50px;
        width: 158px;
    }
  }
