<div fxLayout="column" class="container" fxFlexFill>
  <div fxFlex="10" class="main-title">
    EXPLORE YOUR NEXT MOVIES AND TV SHOWS
  </div>
  <div fxFlex="auto" *ngIf="paginatedMovies.length > 0; else noMoviesFound">
    <div class="movie-cards" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        fxFlex="15%"
        fxFlex.xs="40%"
        fxFlex.sm="33%"
        *ngFor="let movie of paginatedMovies"
      >
        <app-movie-card
          [movie]="movie"
          (movieDetailsSelect)="openMovieDetails($event)"
        ></app-movie-card>
      </div>
    </div>
  </div>
  <ng-template #noMoviesFound><div class="main-title">Movie not found, Please try again.</div></ng-template>

  <div fxFlex="auto">
    <mat-paginator
      #paginator
      [length]="movieLength"
      [pageSize]="12"
      (page)="pageChanged($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
